# Android Studio project files
*.iml
.idea

# Project caches
.kotlin
.gradle
build
captures

# NDK caches
.externalNativeBuild
.cxx

# Local project settings
/local.properties
local.properties

# macOS Finder caches
.DS_Store

# Project references
references
